@import url("https://fonts.googleapis.com/css?family=Lato");
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #FAFAFA;
  background-color: #414141; }

a {
  color: #607e8d;
  text-decoration: none; }

svg, image {
  max-width: 100%; }

header h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 5rem;
  font-weight: 100;
  color: #FAFAFA; }

.cd-svg-clipped-slider {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 4em auto; }
  .cd-svg-clipped-slider .gallery-wrapper, .cd-svg-clipped-slider .gallery, .cd-svg-clipped-slider .caption {
    position: relative; }
  .cd-svg-clipped-slider .svg-wrapper {
    height: 0;
    padding-bottom: 100%; }
  .cd-svg-clipped-slider svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .cd-svg-clipped-slider use.cover-layer {
    fill: #244238;
    transition: opacity .3s;
    opacity: .2; }
    .cd-svg-clipped-slider use.cover-layer:hover {
      opacity: 0; }
  .cd-svg-clipped-slider .caption {
    margin: 1em 0;
    overflow: hidden; }
  .cd-svg-clipped-slider .navigation a {
    position: absolute;
    left: 12.5%;
    transform: translate(-50%) translate(-50%) scale(0.7);
    top: 50%;
    z-index: 4;
    pointer-events: none;
    height: 48px;
    width: 48px;
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    transition: opacity .3s, transform .3s;
    background: url("../images/icon-arrows.svg"); }
    .cd-svg-clipped-slider .navigation a.next {
      left: auto;
      right: 12.5%;
      transform: translateX(50%) translateY(-50%) scale(0.7);
      background-position: -48px 0; }
      .cd-svg-clipped-slider .navigation a.next.active {
        animation: cd-click-next .3s; }

.cd-svg-clipped-slider.prev-hidden .navigation a.prev,
.cd-svg-clipped-slider.next-hidden .navigation a.next {
  opacity: 0; }

.cd-svg-clipped-slider .gallery li {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  opacity: 0;
  transform: translateX(75%) scale(0.4);
  transition: opacity .3s, transform .3s ease-in-out;
  cursor: pointer; }
  .cd-svg-clipped-slider .gallery li.selected {
    position: relative;
    z-index: 3;
    height: 0;
    padding-bottom: 50%;
    opacity: 1;
    transform: translateX(0) scale(1);
    cursor: auto; }
    .cd-svg-clipped-slider .gallery li.selected use.cover-layer {
      opacity: 0; }
  .cd-svg-clipped-slider .gallery li.left {
    transform: translateX(-75%) scale(0.4); }
  .cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.right {
    z-index: 2;
    opacity: 1; }

.cd-svg-clipped-slider .caption li {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translate(100px);
  opacity: 0;
  transition: opacity .3s, transform .3s ease-in-out; }
  .cd-svg-clipped-slider .caption li.selected {
    z-index: 2;
    position: relative;
    transform: translate(0);
    opacity: 1; }
  .cd-svg-clipped-slider .caption li.left {
    transform: translateX(-100px); }

@media only screen and (min-width: 768px) {
  .cd-svg-clipped-slider .caption li {
    font-size: 2.4rem; } }

@media only screen and (min-width: 1170px) {
  .cd-svg-clipped-slider {
    width: 90%; }
    .cd-svg-clipped-slider .gallery li {
      left: 30%;
      width: 40%;
      transform: translateX(80%) scale(0.4); }
      .cd-svg-clipped-slider .gallery li.selected {
        padding-bottom: 40%; }
      .cd-svg-clipped-slider .gallery li.left, .cd-svg-clipped-slider .gallery li.left-hide {
        transform: translateX(-80%) scale(0.4); }
    .cd-svg-clipped-slider .navigation a {
      left: 18%;
      transform: translateX(-50%) translateY(-50%); }
      .cd-svg-clipped-slider .navigation a.next {
        left: auto;
        right: 18%;
        transform: translateX(50%) translateY(-50%); } }

@keyframes cd-click-prev {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.8); }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1); } }

@keyframes cd-click-next {
  0% {
    transform: translateX(50%) translateY(-50%) scale(0.8); }
  100% {
    transform: translateX(50%) translateY(-50%) scale(1); } }

.no-csspointerevents .cd-svg-clipped-slider .navigation a {
  display: none; }
